
<div class="d-flex border border-light">

    <!-- side bar -->
    <div style="width:200px;height:100vh" class="sidebar bg-info p-3 d-flex flex-column ">
        <a routerLink="/home">Home</a>
        <a routerLink="/users">users</a>
        
    
    </div>

    <!-- drashboard -->
    <div class="dashboard p-3 w-100">
       
     <!-- title -->
     <div class="title">
        <h1>Edit User</h1>
     </div>

     <!-- user details -->

     <div class="user-details mt-5 shadow border rounded p-3">

      <form #addUserform="ngForm">
        <!-- userid -->
            <div class="form-floating mb-3">
                <input type="text" #id="ngModel" [(ngModel)]="user.id" name="id" class="form-control" id="floatinputId" placeholder="user Id" pattern="[0-9]*" required>
                <label for="floatingInputId">User Id</label>
              </div>
        
              <!-- error msg for id -->
        <!-- validation -->
        
        <div *ngIf="id.invalid && id.touched" class="mb-3 text-danger">invalid Id</div>
        
        
              <!-- username -->
              <div class="form-floating mb-3">
                <input type="text" #name="ngModel" [(ngModel)]="user.name" name="name" class="form-control" id="floatingUsername" placeholder="UserName" required pattern="[a-zA-Z ]*">
                <label for="floatingUsername">UserName</label>
              </div>
        
        
              <!-- error msg for name -->
              <div *ngIf="name.invalid && name.touched" class="mb-3 text-danger">invalid user name</div>
        
        
          <!-- email -->
          <div class="form-floating mb-3">
            <input type="email" #email="ngModel" [(ngModel)]="user.email" name="email"  class="form-control" id="floatingEmail" placeholder="Email" email required>
            <label for="floatingEmail">Email</label>
          </div>
        
             <!-- error msg for email -->
        
             <div *ngIf="email.invalid && email.touched" class="mb-3 text-danger">invalid email</div>
        
        
           <!-- drop-down -->
           <div class="form-floating mb-3">
            <select  id="" class="form-control" #active="ngModel" [(ngModel)]="user.active" name="active" required>
             <option disabled selected hidden></option>
             <option value="1">Active</option>
              <option value="0" >InActive</option>
            </select>
        
            <label for="floatingEmail">Status</label>
          </div>
        
          <!-- error msg for status -->
        
          <div *ngIf="active.invalid && active.touched" class="mb-3 text-danger">invalid status</div>
        
        
        
          <!-- button -->
        <div class="mt-5 text-center">
          <button (click)="cancelupdate(user.id)" class="btn btn-warning" >Cancel</button>
          <button (click)="updateUser()" [disabled]="addUserform.invalid"  class="btn btn-success ms-5 ">Update</button>
        </div>
        </form>

     </div>

</div>



    </div>



